 body, html {
    display: flex;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    max-width: 95%;
    width: 100%;
    margin: auto;
    padding: 0 10px;
    min-height: 100vh;
    background: url('/images/2.jpg') no-repeat center fixed;
    background-size: cover;
    text-align: center;
 }

 * {
    box-sizing: border-box;
 }

 .home-page-content {
    min-height: 380px;
    position: relative;
 }

 .form-container {
    position: absolute;
    max-width: 600px;
    padding: 15px;
    background-color: whitesmoke;
    top: 50%;
    border-radius: 5px;
    left: 80%;
  
 }

 input[type=text], select {
    background-color: white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
 }

 .submit {
    background-color: #d64a4a;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
    border-radius: 4px;
 }

 .submit:hover {
    opacity: 1;
 }

 footer {
    color: #888888;
    margin-top: 16px;
    padding: 10px 0;
    position: fixed;
    top: 90%;
    margin-top: auto;
 }

 header {
    margin-top: 16px;
    margin-bottom: 48px;
    margin-right: 16;
 }