<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="templates/home/home.css">
</head>

<body>
    <div class="home-page-content">
           
        <form id="form" action="/food-key" method="POST" class="form-container">
            {{>header}}
            <input type="text" name="word" placeholder="Enter Keyword" />
            <input type="submit" value="Go!" class="submit" />
        </form>

        <p id="error-message"></p>

    </div>

    {{>footer}}

</body>

</html>